body {
   font-family: Arial, sans-serif; /*Jenis Font */
   background: linear-gradient(135deg, #552222, #471c1c);
   text-align: center;
   margin: 0;
   padding: 0;
}

.hidden {
  display: none;
}

/* ================= LANDING PAGE ================= */
.landing {
  margin-top: 120px; /*Geser ke bawah */
}

.landing h1 { 
  color: rgb(255, 255, 255);
}

.landing input {
    padding: 10px;
    font-size: 16px;
    width: 220px;
    margin: 10px;
    border-radius: 6px;
    border: none;
}

.landing button {
  padding: 10px 25 px;
  font-size: 16px;
  border-radius: 6px;
 cursor: pointer; /* Kursor Tangan */
 border: none;
}

/* ================= GAME ================= */
.game {
  margin-top: 40px;
}

.board {
display: grid; /* Grid layout*/
grid-template-columns: repeat(3, 100px); /* 3 kolom */
grid-gap: 10px;
justify-content: center;
margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  font-size: 60px; /* Ukuran X dan 0 */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}

.reset {
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

/* ================= POPUP ================= */
.popup {
  position: fixed; /* Tetap di layar */
  inset: 0;
  background: rgb(117, 51, 51); /* Gelap Transparan */
  align-items: center;
  justify-content: center;
}

/* ================= POPUP DISEMBUNYIKAN ================= */
.popup.hidden {
    display: none;
}

/* ================= POPUP DITAMPILKAN ================= */
.popup:not(.hidden) {
  display: flex;
}

.popup-box {
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 12px;
}